body {
    margin: 0;
    padding: 0;
    background: #A89B9D;
}
.name {
    width: 100%;
    height: 200px;
    transform: skewY(-5deg);
}       
        
.name .content {
    width: 50%;
    height: 50%; 
    position: absolute;
    left: 25%;
}
        
.name .content .p-1 { 
    color: #EAF4F4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    font-size: 65px;
    transform: skewY(5deg);
    margin-bottom: 0;
}
        
.name .content .p-2 {
    color: #EAF4F4;
    font-family: 'Source Sans Pro', sans-serif;   
    font-weight: bolder;
    font-size: 35px;
    transform: skewY(5deg);
    margin-bottom: 0;
}
.info {
    width: 90%;
    height: auto;
    color: #EAF4F4;
    margin: 5% auto;
    padding: 20px;
}
.info .content2 {
    color:#EAF4F4;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 15px #EAF4F4;
}
.info .nombre {
    color:#EAF4F4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size:large;
    display: inline;
    margin-right: 20px;
}
.name .img {
    position: absolute;
    top: 30%;
    right: 20%;
    width: 180px;
    height: 180px;
    transform: skewY(5deg);
    overflow: hidden;
}
.info .telefono {
    color:#EAF4F4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size:large;
    display: inline;
    margin-right: 20px;
}
.info .fecha {
    color:#EAF4F4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-size:large;
    display: inline;
    margin-right: 20px;
}
.info .ciudad {
    color:#EAF4F4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:lighter;
    font-size:large;
    display: inline;
    margin-right: 20px;
}
.info .estudios {
    color:#EAF4F4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:lighter;
    font-size:large;
    display: inline;
    margin-right: 20px;
}
.perfil {
    width: 90%;
    height: auto;
    color: #EAF4F4;
    margin: 5% auto;
    padding: 20px;
}
.perfil .content3 {
    color:#EAF4F4;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 15px #EAF4F4;
}
.perfil .puesto {
    color:#EAF4F4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:lighter;
    font-size:large;
    display: inline;
    margin-right: 20px;
}
.perfil .descripcion {
    color:#EAF4F4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:lighter;
    font-size:large;
    display: inline;
    margin-right: 20px;
}
.perfil .perfil2 {
    color:#EAF4F4;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 15px #EAF4F4
}
.perfil .prof {
    color:#EAF4F4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:lighter;
    font-size:large;
    display: inline;
    margin-right: 20px;
}